name: interstellar

# Prevent accidental publishing to pub.dev.
publish_to: 'none'

version: 0.0.0

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_markdown: ^0.6.18+2
  http: ^1.1.2
  infinite_scroll_pagination: ^4.0.0
  intl: ^0.18.1
  media_kit: ^1.1.10
  media_kit_video: ^1.2.4
  media_kit_libs_video: ^1.0.4
  oauth2: ^2.0.2
  provider: ^6.1.1
  shared_preferences: ^2.2.2
  url_launcher: ^6.2.2
  webview_flutter: ^4.4.2
  youtube_explode_dart: ^2.0.4
  freezed_annotation: ^2.4.1
  json_annotation: ^4.8.1
  badges: ^3.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.1

  flutter_launcher_icons: # This is until the next release > ^0.13.1
    git:
      url: 'https://github.com/fluttercommunity/flutter_launcher_icons.git'
      ref: '006cb1ed53f969bf11816cde5b16dd520e1ee40e'
  build_runner: ^2.4.7
  freezed: ^2.4.6
  json_serializable: ^6.7.1

flutter_launcher_icons:
  image_path: 'assets/icons/logo.png'
  android: true
  adaptive_icon_foreground: 'assets/icons/logo-transparent.png'
  adaptive_icon_background: '#294062'
  adaptive_icon_monochrome: 'assets/icons/logo-monochrome.png'
  ios: true
  remove_alpha_ios: true
  windows:
    generate: true
    image_path: 'assets/icons/logo-transparent-512.png'
  macos:
    generate: true

flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
    # Add assets from the icons directory to the application.
    - assets/icons/
